.Button-play {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	border: 1px solid #3F9CDA;
	border-radius: 0.75rem;
	background: #3F9CDA;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
}