.CreateGameWrapper {
  display: flex;
  flex-direction: column;
  margin: 2.2vh;
  margin-top: 8vh;

  .CreateGame--title {
    font-size: 4.5vh;
    font-weight: bold;
    background: #182227;
    background-image: url('../../app/assets/creation-background.png');
    width: 94%;
    display: flex;
    flex-direction: column;

    color:#E92E38;
    padding: 3vw;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255,15%) inset;
    border-radius: 2.6vh;

    &_bot {
      font-size: 2.2vh;
      color: white;
      text-shadow: none;
    }
  } 
  .CreateGame--type {
    display: flex;
    flex-direction: column;
    margin-top: 2.2vh;

    .react-tabs {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.2vh;

      .tabs {
        background: #212F36;
        padding: 2.2vh 2.6vh;
        border-radius:2.6vh;
        box-shadow: 0px 0px 5px 1px rgba(255, 255, 255,15%) inset;
      }

      .react-tabs__tab-list {
        border-bottom: none;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        background: #0b0c11;
        padding: 0.6vh;
        border-radius: 1.8vh;
      }

      .react-tabs__tab {
        border: none;
        padding: 1.8vh 2.2vh;
        cursor: pointer;
        background: transparent;
        flex: 1;
        display: flex;
        justify-content: center;
        border-radius: 1.3vh;
        font-weight: bold;
        opacity: 0.2;

        &:focus {
          outline: none;
        }

        &--selected {
          background: #3F9CDA;
          opacity: 1;
        }
      }

      .react-tabs__tab-panel {
        display: none;
        padding: 0;
        box-shadow: none;

        &--selected {
          display: block;
          padding:2.2vh;
          background: #182227;
          border-radius: 2.6vh;
          box-shadow: 0px 0px 5px 1px rgba(255, 255, 255,15%) inset;
        }
      }
    }
  }

  .CreateGame--navigation {
    display: flex;
    position: absolute;
    bottom: 4vh;
    gap: 2.2vh;
    width: calc(100% - 4.4vh);
  }
}

.game-setup__wins-till-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;

  .wins-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.4vh;
    margin-top: 1.7vh;


    button {
      width: 6.6vh;
      height: 6.6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius:1.1vh;
      color: #fff;
      background-color: #182227;
      font-size: 3.3vh;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }
    }

    span {
      font-size: 3.3vh;
      min-width:4.4vh;
      text-align: center;
    }
  }
}

.BetInput {
  display: flex;
  flex-direction: column;
  gap: 1.1vh;

  &--text {
    font-size: 2.2vh;
    font-weight: bold;
    margin-bottom: 1.1vh;
    font-size: 2.6vh;
  }

  input {
    background-color: #212F36;
    color: #fff;
    border: none;
    padding: 1.3vh;
    border-radius: 1.1vh;
    text-align: center;
    font-size: 2.2vh;
    width: 100%;
    box-sizing: border-box;
  }
  ::placeholder{
    color:rgb(149, 149, 149);
  }

  .quickBet {
    display: flex;
    gap: 1.1vh;

    button {
      flex: 1;
      background-color: #212F36;
      color: #fff;
      padding: 1.1vh;
      border: none;
      border-radius: 1.1vh;
      cursor: pointer;
      font-size: 2.2vh;

      &.active {
        background-color: #3F9CDA;
      }

      &:hover {
        background-color: #1c1d2f;
      }
    }
  }
}

.play-button{
  height: 6.5vh;
  width: 43vw;
}
.winsTillEnd{
  width: 5.5vh;
  height: 5.5vh;
  border-radius: 1.1vh;
  border: none;
  color:#fff;
  font-size: 3.3vh;
  width:4.4vh;
  background-color: rgb(0,0,0,0);
  padding: 0.5rem;
}
